

   

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/header.ejs %> 
</head>
<body>
  <%- include partials/main_nav.ejs %>
<!--about content -->

<div class="container-fluid bg-3 text-center">    
  
  <div id="about" class="paddsection">
    <div class="container">
      
      <div class="row justify-content-between">
        

        <div class="col-lg-4 ">
          <div class="div-img-bg">
            <div class="about-img">
              <img src="img\me.jpg" class="img-responsive" alt="me">
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="about-descr">

            <p class="p-heading">Hi. I’m Adarsh M Nair.A Game Developer. </p>
            <p class="main-para">I’m also front-end developer with a keen eye for creating engaging UI, bringing products to life.Love to play and create video games</p>

            
            <a id="resumebtn" href="https://ik.imagekit.io/wnvof3zpp/CV_adarsh_M_FVcfYjIy5.pdf?ik-sdk-version=javascript-1.4.3&updatedAt=1664579883225" class="fa-solid fa-folder-user">Resume</a>
            <i class="fa-solid fa-file"></i>
            
          </div>

        </div>
      </div>
    </div>
  </div>

</body>


</html>
<%- include partials/footer.ejs %>   
   
    
