

   

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/header.ejs %>
</head>
<body>
  <%- include partials/main_nav.ejs %>

<div id="MyServices" class="text-left paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h2>Projects</h2>
      </div>
    </div>

    <div class="container">
      <div class="journal-block">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <img src="https://ik.imagekit.io/wnvof3zpp/corona-tracker-social-image-1_AVOErfFvk.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1664515181833" id="webdesign" class=" img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="https://github.com/a4aadhi/reactapp-covid19tracker">COVID-19 TRACKER</a></h4>
                <p class="sepae.htmlrator">“A React Website which help us to track Covid-19  Active cases,Recovered and Death count of different States of India and Different Countries as well”
                </p>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href=""><img src="https://ik.imagekit.io/wnvof3zpp/1_menu-buggy-gameplay_E4pLfsC2mo.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1664515080224" id="webdesign" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="https://github.com/a4aadhi/cartrunner">BUGGY RUNNER(ALPHA Version)</a></h4>
                <p class="separator">A BUGGY time attack racing prototype game which made with Unity. All models are taken from Unity asset store
                </p>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href=""><img src="https://ik.imagekit.io/wnvof3zpp/3d-abstract-cubes-video-game-geometric-mosaic-waves-pattern-construction-of-hills-landscape-using-green-grass-blocks-2C9Y168_OeSO4bdLu.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1664515220395" id="webdesign" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="https://github.com/a4aadhi/Objectgame">OBSTACLE GAME</a></h4>
                <p class="separator">"Simple hyper casual game made with different shapes.player must reach to the end without touching any obstacles"
                </p>

              </div>

            </div>
          </div>
          
</html>
    
   
    
    <%- include partials/footer.ejs %>
