

   

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/header.ejs %>
</head>
<body>
  <%- include partials/main_nav.ejs %>
<!-- service section -->
<div id="MyServices" class="text-left paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h2 class="service-header">SERVICES</h2>
      </div>
    </div>

    <div class="container">
      <div class="services">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="service-info">

              <img src="https://ik.imagekit.io/wnvof3zpp/web-design-studio-web-site-responsive-design-presentation-computer-display-laptop-smart-phone-tablet-web-design-studio-web-175052877_zEJBwHTqR.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1664517847214" id="webdesign" class=" img-responsive" alt="img"></a>

              <div class="service-txt">

                <h4><a href="">WEB DESIGNING</a></h4>
                <p class="sepae.htmlrator">“A successful website does three things:
                  It attracts the right kinds of visitors.
                  Guides them to the main services or product you offer.
                  Collect Contact details for future ongoing relation.”
                </p>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="service-info">

              <a href=""><img src="https://ik.imagekit.io/wnvof3zpp/mobile-app-development_0bdpQdO8i.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1664518055559" id="webdesign" class="img-responsive" alt="img"></a>

              <div class="service-txt">

                <h4><a href="blog-single.html">APP DEVOLOPMENT</a></h4>
                <p class="separator">The Scrum idea of a separated Scrum Master is good for Scrum, but not appropriate for most projects. Good development requires not just talkers but doers.
                </p>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="service-info">

              <a href=""><img src="https://ik.imagekit.io/wnvof3zpp/female-games-developer-1024x576_2kWxabYc2.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1664518186617" id="webdesign" class="img-responsive" alt="img"></a>

              <div class="service-txt">

                <h4><a href="">GAME DEVELOPMENT</a></h4>
                <p class="separator">"You can make an amazing game, but you can't make a success. Your players make the success."
                </p>

              </div>

            </div>
          </div>
          <!-- End of service section -->
          <!-- technology section -->
          <div id="MyServices" class="text-left paddsection">

            <div class="container">
              <div class="section-title text-center">
                <h2 id="headerservice" class="col-lg-12">TECHNOLOGIES</h2>
              </div>
            </div>
        
            <div class="container">
              <div class="services">
                <div class="row">
        
                  <div class="col-lg-4 col-md-6">
                    <div class="service-info">
        
                      <img src="https://ik.imagekit.io/wnvof3zpp/0_BhI2ZKAxMW5ujVkv_jhXyL6xnP.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1664521053549" id="webdesign" class=" img-responsive" alt="img"></a>
        
                      <div class="service-txt">
        
                        <h4><a href="https://unity.com/">UNITY</a></h4>
                        
        
                      </div>
        
                    </div>
                  </div>
        
                  <div class="col-lg-4 col-md-6">
                    <div class="service-info">
        
                      <a href="https://reactjs.org/"><img src="https://ik.imagekit.io/wnvof3zpp/download_N58rTENwi.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1664521053521" id="webdesign" class="img-responsive" alt="img"></a>
        
                      <div class="service-txt">
        
                        <h4><a href="blog-single.html">REACT</a></h4>
              
        
                      </div>
        
                    </div>
                  </div>
        
                  <div class="col-lg-4 col-md-6">
                    <div class="service-info">
        
                      <a href="https://nodejs.org/en/"><img src="https://ik.imagekit.io/wnvof3zpp/coverImage_3EGfPrAYo.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1664521053201" id="webdesign" class="img-responsive" alt="img"></a>
        
                      <div class="service-txt">
        
                        <h4><a href="">NODE.JS</a></h4>
                        
        
                      </div>
        
                    </div>
                  </div>
                  <!-- end of technology section -->         

</html>
    
   
    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>
